.chat-container {
  display: flex;
  justify-content: center;
}

.chat-box-container {
  width: 100%;
  background-color: #f9f9f9;
  max-height: 100dvh;
  height: calc(100dvh - 60px);
  display: flex;
  flex-direction: column;
}

.loader {
  text-align: center;
  padding: 10px;
  font-size: 16px;
  color: #666;
}

.no-messages {
  text-align: center;
  color: #888;
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  word-wrap: break-word;
  max-width: 60%;
}

.sent {
  align-self: flex-end;
}

.received {
  align-self: flex-start;
}

.sent-image {
  align-self: flex-end;
}

.received-image {
  align-self: flex-start;
}

.uploaded-image {
  width: 250px;
}


.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-body {
  font-size: 14px;
}

.message-footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #888;
}

.form-container{
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.message-form {
  display: flex;
  width: 95%;
}

.upload-send-buttons {
  display: flex;
  flex-direction: row;
}

.message-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-right: 10px;
  width: 100%;
  resize: none;
  overflow: hidden;
  line-height: 1.5;
  font-size: 16px;
}

.message-input:focus {
  border-color: #007bff;
  outline: none;
}

.send-button {
  background-color: transparent;
  color: black;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: #f0f0f0;
}

.fileUpload {
  color: black;
  overflow: hidden;
  cursor: pointer;
  padding-left: 7px;
  padding-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileUpload:hover, .fileUpload:active, .fileUpload:focus {
  background: #f0f0f0;
  border-radius: 50px;
  cursor: pointer;
}

input[type="file"] {
  position: fixed;
  right: 100%;
  bottom: 100%;
}

.delete-button {
  background-color: transparent;
  border: none;
  padding-left: 5px;
  border-radius: 5px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .chat-box-container {
    height: calc(100dvh - 20px);
    width: 100%;
    border:none;
    background-color: transparent;
  }
  .fileUpload:hover, .fileUpload:active, .fileUpload:focus {
    background: transparent;
  }
}

